<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="HW_DBServers" value="10.88.0.70"/>
    <add key="HW_DBPORT" value="27017"/>
    <add key="HW_DBNAME" value="hydrantwiki_dev"/>
    <add key="HW_DBUSER" value="hydrantwiki_dev_user"/>
    <add key="HW_DBPASSWORD" value="m1thr1l1"/>
  </appSettings>
</configuration>
